*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  
}

.navbar{
  color: white;
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding: 20px 200px;
}

.nav-head{
  font-size: 32px;
}

.nav-list{
  display: flex;
  gap: 122px;
}

.nav-link{
  transition: color 0.2s ease-in;
  &:hover{
    color: red;
  }
}

.hero-section{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.hero-section .name{
  font-size: 66px;
  font-weight: 800;
}

.hero-section .description{
  font-size: 30px;
  max-width: 550px;
  margin: 0 auto;
}

.hero-section .links{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.hero-section .button{
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 5px 12px;
}

